
{% extends "base.html" %} 
{% load static %}
{% block content %}
<h1>{{ category.name }}</h1>
{% if products %}
      <div class="row">
        {% for items in products %}
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="{{ items.image.url}}" alt="Card image cap">
              <div class="card-body">
                  <h4>{{items.product_name}}</h4>
                <p class="card-text">{{items.description}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a type="button"  href="{% url 'all_product' items.id %}"class="btn btn-sm btn-outline-secondary">View</a>
                  </div>
                  <p class="card-text"><strong>Price:</strong> {{ items.price }}</p>
                </div>
              </div>
            </div>
          </div>
        {% endfor %} 
      </div>
      {% else %}
      <p>No products available in this category.</p>
      {% endif %}
    </div>
  </div>
</div>
</body>
</html>
{% endblock %}